In [1]:
# Import necessary libraries and modules
from jupyter_dash import JupyterDash
import dash_leaflet as dl
from dash import dcc, html, dash_table
from dash.dependencies import Input, Output
import base64
import os
import numpy as np
import pandas as pd
import plotly.express as px
from project1Crud import Project1Database

# Read and encode your image
image_filename = 'Grazioso Salvare Logo.png'  # image file
with open(image_filename, 'rb') as f:
    encoded_image = base64.b64encode(f.read())

# Initialize the Dash app
app = JupyterDash(__name__)

# Connect to your database via your CRUD module
# Provide your MongoDB username and password
username = "aacuser"
password = "YourPasswordHere"
db = Project1Database(username, password)

# Read data from your database
df = pd.DataFrame.from_records(db.read({}))
df.drop(columns=['_id'], inplace=True)  

# Define your layout
app.layout = html.Div([
    html.Img(src='data:image/png;base64,{}'.format(encoded_image.decode()), id='your-unique-identifier'),
    html.Center(html.B(html.H1('CS-340 Dashboard'))),
    html.Hr(),
    html.Div([
        html.Label("Select a Filter:"),
        dcc.Dropdown(
            id='filter-type',
            options=[
                {'label': 'All Animals', 'value': 'all'},
                {'label': 'Dogs', 'value': 'dogs'},
                {'label': 'Cats', 'value': 'cats'}
            ],
            value='all'  # Default selected value
        ),
    ]),
    html.Hr(),
    dash_table.DataTable(
        id='datatable-id',
        columns=[{"name": i, "id": i, "deletable": False, "selectable": True} for i in df.columns],
        data=df.to_dict('records'),
        style_table={'overflowX': 'auto'},  # Enable horizontal scrolling if needed
        sort_action='native',  # Enable native sorting
        filter_action='native',  # Enable native filtering
        row_selectable='single'  # Enable single-row selection
    ),
    html.Div(
        className='row',
        style={'display': 'flex'},
        children=[
            html.Div(id='graph-id', className='col s12 m6'),
            html.Div(id='map-id', className='col s12 m6'),
        ]
    )
])

# Define your callback functions
@app.callback(
    Output('datatable-id', 'data'),
    [Input('filter-type', 'value')]
)
def update_data_table(selected_filter):
    print("Selected filter:", selected_filter)
    
    if selected_filter == 'all':
        return df.to_dict('records')
    elif selected_filter == 'dogs':
        filtered_data = df[df['animal_type'] == 'Dog']
        print("Filtered data (Dogs):", filtered_data)  # Add this line for debugging
        return filtered_data.to_dict('records')
    elif selected_filter == 'cats':
        filtered_data = df[df['animal_type'] == 'Cat']
        print("Filtered data (Cats):", filtered_data)  # Add this line for debugging
        return filtered_data.to_dict('records')


# Chart
@app.callback(
    Output('graph-id', "children"),
    [Input('datatable-id', "derived_viewport_data"),
     #Input('filter-type', 'value')
    ])
def update_graphs(viewData):
    ###FIX ME ####
    # add code for chart of your choice (e.g. pie chart) #
    dff = pd.DataFrame.from_dict(viewData)
    
    return [
        dcc.Graph(            
#             figure = px.pie(dff, values='breed',  
#                             title='Available Dogs by Breed')
            figure = px.histogram(dff, x='breed')
        )    
    ]

@app.callback(
    Output('datatable-id', 'style_data_conditional'),
    [Input('datatable-id', 'selected_columns')]
)
def update_styles(selected_columns):
    return [{
        'if': {'column_id': i},
        'background_color': '#D2F3FF'
    } for i in selected_columns]

@app.callback(
    Output('map-id', "children"),
    [Input('datatable-id', "derived_virtual_data"),
     Input('datatable-id', "derived_virtual_selected_rows")]
)
def update_map(viewData, index):
    if viewData is None or index is None:
        return
    
    dff = pd.DataFrame.from_dict(viewData)
    row = index[0] if index else 0
    
    return [
        dl.Map(style={'width': '1000px', 'height': '500px'}, center=[30.75, -97.48], zoom=10, children=[
            dl.TileLayer(id="base-layer-id"),
            dl.Marker(position=[dff.iloc[row, 13], dff.iloc[row, 14]], children=[
                dl.Tooltip(dff.iloc[row, 4]),
                dl.Popup([
                    html.H1("Animal Name"),
                    html.P(dff.iloc[row, 9])
                ])
            ])
        ])
    ]

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True)

Dash app running on http://127.0.0.1:12376/
Selected filter: all
Selected filter: dogs
Filtered data (Dogs):       rec_num age_upon_outcome animal_id animal_type  \
0           8           1 year   A736551         Dog
1           6          5 years   A696004         Dog
2           9          3 years   A720214         Dog
4          11           1 year   A721199         Dog
5          12           1 year   A664843         Dog
...       ...              ...       ...         ...
9985     9999         2 months   A665304         Dog
9987     9993          2 years   A761792         Dog
9988     9991          6 years   A672341         Dog
9989     9987          4 years   A729430         Dog
9990     9986           1 year   A728197         Dog

                                         breed        color date_of_birth  \
0     Labrador Retriever/Australian Cattle Dog        Black    2015-10-12
1                     Cardigan Welsh Corgi Mix  Sable/White    2010-01-27
2                       Labrador Retriever Mix    Red/White    2013-02-04
4                       Dachshund Wirehair Mix    Tan/White    2015-02-23
5                                 Pit Bull Mix  Brown/White    2013-06-09
...                                        ...          ...           ...
9985        Newfoundland/Australian Cattle Dog  Black/White    2013-08-16
9987             Bichon Frise/Miniature Poodle        White    2015-05-09
9988                         Border Collie Mix  Black/White    2008-02-08
9989             Chihuahua Shorthair/Dachshund          Red    2012-06-18
9990                              Pit Bull Mix    Tan/White    2014-12-01

                 datetime            monthyear      name outcome_subtype  \
0     2016-11-27 18:00:00  2016-11-27T18:00:00      *Mia
1     2015-01-28 10:39:00  2015-01-28T10:39:00      Lucy     Rabies Risk
2     2016-02-11 12:41:00  2016-02-11T12:41:00  Blessing
4     2016-02-27 17:49:00  2016-02-27T17:49:00     Belle
5     2014-08-18 17:24:00  2014-08-18T17:24:00  Sherlock         Partner
...                   ...                  ...       ...             ...
9985  2013-10-20 17:46:00  2013-10-20T17:46:00     Flynn
9987  2017-11-10 14:36:00  2017-11-10T14:36:00     Voler         Partner
9988  2014-02-11 11:10:00  2014-02-11T11:10:00  Mischief
9989  2016-06-21 15:58:00  2016-06-21T15:58:00    Bandit         Partner
9990  2016-07-23 16:29:00  2016-07-23T16:29:00     *Lady

     outcome_type sex_upon_outcome  location_lat  location_long  \
0        Adoption    Spayed Female     30.444321     -97.732698
1      Euthanasia    Spayed Female     30.673737     -97.707972
2        Adoption    Spayed Female     30.387065     -97.368434
4        Adoption    Spayed Female     30.729027     -97.375333
5        Transfer    Neutered Male     30.451555     -97.474105
...           ...              ...           ...            ...
9985     Adoption    Neutered Male     30.382226     -97.321557
9987     Transfer      Intact Male     30.581977     -97.334958
9988     Adoption    Spayed Female     30.293263     -97.442450
9989     Transfer    Neutered Male     30.507729     -97.380978
9990     Adoption    Spayed Female     30.713293     -97.289480

      age_upon_outcome_in_weeks
0                     58.964286
1                    261.063393
2                    157.504067
4                     52.820337
5                     62.246429
...                         ...
9985                   9.391468
9987                 130.944048
9988                 313.637897
9989                 209.237897
9990                  85.812401

[5585 rows x 16 columns]
Selected filter: all
Selected filter: dogs
Filtered data (Dogs):       rec_num age_upon_outcome animal_id animal_type  \
0           8           1 year   A736551         Dog
1           6          5 years   A696004         Dog
2           9          3 years   A720214         Dog
4          11           1 year   A721199         Dog
5          12           1 year   A664843         Dog
...       ...              ...       ...         ...
9985     9999         2 months   A665304         Dog
9987     9993          2 years   A761792         Dog
9988     9991          6 years   A672341         Dog
9989     9987          4 years   A729430         Dog
9990     9986           1 year   A728197         Dog

                                         breed        color date_of_birth  \
0     Labrador Retriever/Australian Cattle Dog        Black    2015-10-12
1                     Cardigan Welsh Corgi Mix  Sable/White    2010-01-27
2                       Labrador Retriever Mix    Red/White    2013-02-04
4                       Dachshund Wirehair Mix    Tan/White    2015-02-23
5                                 Pit Bull Mix  Brown/White    2013-06-09
...                                        ...          ...           ...
9985        Newfoundland/Australian Cattle Dog  Black/White    2013-08-16
9987             Bichon Frise/Miniature Poodle        White    2015-05-09
9988                         Border Collie Mix  Black/White    2008-02-08
9989             Chihuahua Shorthair/Dachshund          Red    2012-06-18
9990                              Pit Bull Mix    Tan/White    2014-12-01

                 datetime            monthyear      name outcome_subtype  \
0     2016-11-27 18:00:00  2016-11-27T18:00:00      *Mia
1     2015-01-28 10:39:00  2015-01-28T10:39:00      Lucy     Rabies Risk
2     2016-02-11 12:41:00  2016-02-11T12:41:00  Blessing
4     2016-02-27 17:49:00  2016-02-27T17:49:00     Belle
5     2014-08-18 17:24:00  2014-08-18T17:24:00  Sherlock         Partner
...                   ...                  ...       ...             ...
9985  2013-10-20 17:46:00  2013-10-20T17:46:00     Flynn
9987  2017-11-10 14:36:00  2017-11-10T14:36:00     Voler         Partner
9988  2014-02-11 11:10:00  2014-02-11T11:10:00  Mischief
9989  2016-06-21 15:58:00  2016-06-21T15:58:00    Bandit         Partner
9990  2016-07-23 16:29:00  2016-07-23T16:29:00     *Lady

     outcome_type sex_upon_outcome  location_lat  location_long  \
0        Adoption    Spayed Female     30.444321     -97.732698
1      Euthanasia    Spayed Female     30.673737     -97.707972
2        Adoption    Spayed Female     30.387065     -97.368434
4        Adoption    Spayed Female     30.729027     -97.375333
5        Transfer    Neutered Male     30.451555     -97.474105
...           ...              ...           ...            ...
9985     Adoption    Neutered Male     30.382226     -97.321557
9987     Transfer      Intact Male     30.581977     -97.334958
9988     Adoption    Spayed Female     30.293263     -97.442450
9989     Transfer    Neutered Male     30.507729     -97.380978
9990     Adoption    Spayed Female     30.713293     -97.289480

      age_upon_outcome_in_weeks
0                     58.964286
1                    261.063393
2                    157.504067
4                     52.820337
5                     62.246429
...                         ...
9985                   9.391468
9987                 130.944048
9988                 313.637897
9989                 209.237897
9990                  85.812401

[5585 rows x 16 columns]
Selected filter: cats
Filtered data (Cats):       rec_num age_upon_outcome animal_id animal_type  \
3          10         3 months   A664290         Cat
6          13           1 year   A700408         Cat
11          4         7 months   A733653         Cat
13          1          3 years   A746874         Cat
14          2           1 year   A725717         Cat
...       ...              ...       ...         ...
9977     9990         9 months   A658724         Cat
9980     9994          2 years   A713640         Cat
9982     9997          5 years   A745429         Cat
9983     9996          3 weeks   A678494         Cat
9991     9988           1 year   A673936         Cat

                         breed              color date_of_birth  \
3       Domestic Shorthair Mix             Tortie    2013-09-01
6       Domestic Shorthair Mix  Brown Tabby/White    2014-04-13
11                 Siamese Mix         Seal Point    2016-01-25
13      Domestic Shorthair Mix        Black/White    2014-04-10
14      Domestic Shorthair Mix       Silver Tabby    2015-05-02
...                        ...                ...           ...
9977  Domestic Medium Hair Mix        Brown Tabby    2013-07-07
9980    Domestic Shorthair Mix         Blue/White    2013-10-10
9982    Domestic Shorthair Mix              Black    2012-03-17
9983               Siamese Mix       Tortie Point    2014-04-17
9991                Bombay Mix              Black    2012-11-04

                 datetime            monthyear     name outcome_subtype  \
3     2013-12-08 14:58:00  2013-12-08T14:58:00  *Taylor
6     2015-04-15 13:34:00  2015-04-15T13:34:00     Nyla
11    2016-08-27 18:11:00  2016-08-27T18:11:00    Kitty
13    2017-04-11 09:00:00  2017-04-11T09:00:00                     SCRP
14    2016-05-06 10:49:00  2016-05-06T10:49:00                     SCRP
...                   ...                  ...      ...             ...
9977  2014-04-20 15:40:00  2014-04-20T15:40:00    *Tiny          Foster
9980  2015-10-21 13:44:00  2015-10-21T13:44:00  *Sherry         Partner
9982  2017-03-22 12:08:00  2017-03-22T12:08:00                  Partner
9983  2014-05-09 15:28:00  2014-05-09T15:28:00                  Partner
9991  2014-03-05 11:49:00  2014-03-05T11:49:00   Cooper

         outcome_type sex_upon_outcome  location_lat  location_long  \
3            Adoption    Spayed Female     30.758311     -97.618292
6     Return to Owner    Spayed Female     30.410115     -97.562416
11           Adoption    Intact Female     30.318806     -97.724038
13           Transfer    Neutered Male     30.506658     -97.340878
14           Transfer    Spayed Female     30.652598     -97.741996
...               ...              ...           ...            ...
9977         Adoption    Spayed Female     30.725406     -97.391092
9980         Transfer    Spayed Female     30.671416     -97.493312
9982         Transfer    Intact Female     30.302056     -97.325988
9983         Transfer    Intact Female     30.718965     -97.705055
9991  Return to Owner    Neutered Male     30.757441     -97.284805

      age_upon_outcome_in_weeks
3                     14.089087
6                     52.509325
11                    30.822520
13                   156.767857
14                    52.921528
...                         ...
9977                  41.093254
9980                 105.938889
9982                 261.643651
9983                   3.234921
9991                  69.498909

[3780 rows x 16 columns]